{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        hato/hato {:mvn/version "1.1.0-SNAPSHOT"}
        babashka/fs {:mvn/version "0.5.26"}
        babashka/process {:mvn/version "0.6.23"}
        cheshire/cheshire {:mvn/version "5.12.0"}}
 :aliases
 {:dev
  {:extra-deps {}
   :extra-paths ["dev"]}
  :test
  {:extra-deps
   {kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
    lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]}}}
